@use "../utilities" as *;

.error-container {
  width: 100%;
  @include flex(center);

  .error-text {
    margin-top: 0.5rem;
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 2rem;
    color: var(--pink);
  }
}
