@use "../utilities" as *;

.relatedSongs-container {
  display: flex;
  flex-direction: column;

  .relatedSongs-title {
    font-weight: 700;
    color: var(--pink);
    font-size: 1.875rem;
    line-height: 2.25rem;
  }

  .relatedSongs-songBar {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 1.5rem;
  }
}
