@use "../utilities" as *;
@use "../base" as *;

.volume-container {
  display: none;
  flex: 1 1 0%;
  align-items: center;
  justify-content: flex-end;

  .volumeUp-icon,
  .volumeDown-icon,
  .volumeMute-icon {
    color: var(--text-color);
    cursor: pointer;
    @include trans;

    &:hover {
      color: var(--pink);
    }
  }

  input[type="range"] {
    height: 0.25rem;
    -webkit-appearance: none;
    margin-inline: 1rem;

    &:focus {
      outline: none;
    }

    &::-webkit-slider-runnable-track {
      height: 0.25rem;
      cursor: pointer;
      background: var(--text-color);
      border-radius: 0.5rem;
    }

    &::-webkit-slider-thumb {
      height: 1rem;
      width: 1rem;
      border-radius: 50%;
      background: var(--pink);
      cursor: pointer;
      -webkit-appearance: none;
      margin-top: -0.4rem;
      @include trans;

      &:hover {
        background: var(--pink1);
      }
    }

    &::-moz-range-track {
      height: 0.25rem;
      cursor: pointer;
      background: var(--text-color);
      border-radius: 0.5rem;
    }

    &::-moz-range-thumb {
      height: 1rem;
      width: 1rem;
      border-radius: 50%;
      background: var(--pink);
      cursor: pointer;
      -webkit-appearance: none;
      margin-top: -0.4rem;
    }

    &::-ms-track {
      height: 0.25rem;
      cursor: pointer;
      background: var(--text-color);
      border-radius: 0.5rem;
    }

    &::-ms-thumb {
      height: 1rem;
      width: 1rem;
      border-radius: 50%;
      background: var(--pink);
      cursor: pointer;
      -webkit-appearance: none;
      margin-top: -0.4rem;
    }

    &::-ms-fill-lower {
      background: var(--pink);
      border-radius: 50%;
    }

    &::-ms-fill-upper {
      background: var(--pink);
      border-radius: 50%;
    }
  }
}

@media (min-width: 1024px) {
  .volume-container {
    display: flex;

    .volume-line {
      width: 10rem;
    }
  }
}

@media (min-width: 1536px) {
  .volume-container {
    .volume-line {
      width: 12rem;
    }
  }
}
