:root {
  --black: #1f1f1f;
  --white: #f0f0f0;
  --l-pink: #c85f65;
  --d-pink: #ea9698;
}

body.light {
  --background-color: var(--white);
  --text-color: var(--black);
  --pink: var(--l-pink);
  --pink1: var(--d-pink);
  --left: 0;
  --background: #fff;
  --logo: url("../assets/light-logo.png");
  --phone-wave: url('../assets/waves/l-l-phone-wave.png');
  --desk-wave: url("../assets/waves/l-b-desk-wave.png");
  --loader: url('../assets/spinner-light.png');
}

body.dark {
  --background-color: var(--black);
  --text-color: var(--white);
  --pink: var(--d-pink);
  --pink1: var(--l-pink);
  --left: 25px;
  --logo: url("../assets/dark-logo.png");
  --phone-wave: url('../assets/waves/d-l-phone-wave.png');
  --desk-wave: url("../assets/waves/d-b-desk-wave.png");
  --loader: url('../assets/spinner-dark.png');
  --background: #000;
}
