@use "../utilities" as *;

.search-container {
  display: flex;
  flex-direction: column;

  .search-title {
    font-weight: 700;
    text-align: left;
    font-size: 1.875rem;
    line-height: 2.25rem;
    margin-top: 1rem;
    margin-bottom: 2.5rem;
    color: var(--pink);

    .search-span {
      font-weight: 900;
    }
  }

  .search-songCard {
    @include flex(center);
    flex-wrap: wrap;
    gap: 2rem;
  }
}
