@use "../utilities" as *;

.topCharts-container {
  display: flex;
  flex-direction: column;

  .topCharts-title {
    font-weight: 700;
    color: var(--pink);
    font-size: 1.875rem;
    line-height: 2.25rem;
    margin-top: 1rem;
    margin-bottom: 2.5rem;

    .topCharts-span {
      font-weight: 900;
    }
  }

  .topCharts-songCard {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
  }
}
